$primary-color-dark:   #4b307b;
$primary-color:        #6441a5;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.twitch-app{
  background-color: $primary-color-dark;
  color: $primary-color-text;
  font-family: Helvetica Arial;
  h1 {
    text-align: center;
  }
  #channels{
    display: block;
    margin: auto 25px;
    .channel {  
      -webkit-transition: background-color 3s; /* Safari */
      transition: background-color 3s;
      border-radius: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid black;
      background-color: $primary-color;
      padding: 20px;
      a {
        color: $primary-text-color;
        text-decoration: none;
        .channel-title{
          margin: auto;
          img {
            border-radius: 50%;
            display: inline;
            vertical-align: middle; 
          }
          h3 {
            display: inline;
            font-size: 1.5em;
            i {
              -webkit-transition: color 3s; /* Safari */
              transition: color 3s;
            }
            .fa-toggle-on {
              color: green;
            }
            .fa-toggle-off {
              color: red;
            }
          }

        }
        
      }
      
    }
    
    .active{
      border-color: $accent-color;
      background-color: $primary-color-light;
      h3{
        color: white;
      }
      
    }

  }
}